<p *ngIf="show; else noShow">
  lesson2 works!
</p>

<ng-template #noShow>
  <h1>Hello</h1>
</ng-template>

<button (click)="show = !show">Change</button>

<hr>

<div [ngSwitch]="show">
  <div *ngSwitchCase="true">顯示</div>
  <div *ngSwitchCase="false">隱藏</div>
  <div *ngSwitchDefoult>預設</div>
</div>

<hr>

<input type="text" [(ngModel)]="score">
<div [ngSwitch]="score>=60">
  <div *ngSwitchCase="true">好棒！</div>
  <div *ngSwitchCase="false">好笨！</div>
</div>

<hr>
<app-lesson3 test="57"></app-lesson3>
